.checker__box {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

.strong__checker {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3px;
}

.strong__bar {
  height: 3px;
  width: 100%;
  background-color: gray;
  border-radius: 2px;
}
