.auth__page {
  display: flex;
  height: 100dvh;
  justify-content: center;
  align-items: center;
}

.auth__box {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 500px;
}

.auth__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
