@import './variables.scss';
@import './mixines.scss';

.column {
  padding: 0.625rem 0.3125rem;
  border-radius: 8px;
  margin-right: 0.625rem;
  background-color: #f1f2f4;
  &:last-child {
    margin-right: 0;
  }
}

.column__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column__delete {
  cursor: pointer;
  color: $main-text-color;
  &:hover {
    @include setBackgroundHoveColor(gray, 0.2);
    border-radius: 4px;
  }
  & span {
    font-size: 1.125rem;
  }
}

.column__title {
  padding: 0 0.3125rem;
  cursor: pointer;
  color: $main-text-color;
  &:hover {
    @include setBackgroundHoveColor(gray, 0.2);
    border-radius: 4px;
  }
}

.column__cards {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.add__card {
  cursor: pointer;
  color: $main-text-color;
  border-radius: 0.5rem;
  padding: 0.3125rem 10px;
  &:hover {
    @include setBackgroundHoveColor(gray, 0.2);
  }
  & span {
    font-size: 1.125rem;
  }
}
