@import './mixines.scss';
@import './variables.scss';

.board__preview {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: start;
  align-items: start;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.2s linear;
  &:hover {
    box-shadow: 0 0 5px black;
  }
}

.board__title {
  color: $secondary-text-color;
  max-width: 75%;
  padding: 5px;
}
