@import './variables.scss';

.anim__wrapper {
  position: absolute;
  right: 35%;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.main__frame {
  width: 15.625rem;
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 5px;
  border-radius: 8px;
}

.col {
  background-color: transparent;
  box-shadow: 0 0 5px black;
  width: 4.375rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  margin-top: 5px;
  border-radius: 6px;
}

.col__title {
  width: 1.875rem;
  height: 0.625rem;
  background-color: $tile-bgc;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  border-radius: 4px;
}

.card__block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 20px;
}

.crd {
  width: 3.75rem;
  height: 0.625rem;
  background-color: gray;
  border-radius: 4px;
}

.card.big {
  width: 3.75rem;
  height: 2.5rem;
  background-color: $tile-bgc;
}

.footer__element {
  width: 3.75rem;
  height: 0.625rem;
  background-color: $tile-bgc;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
}

#anim {
  margin-bottom: 100px;
  cursor: pointer;
}

.first__column {
  transform-origin: top;
  animation: first-col-anim 1s infinite linear;
}

.second__column {
  transform-origin: top;
  animation: second-col-anim 1s infinite linear;
}

.third__column {
  transform-origin: top;
  animation: third-col-anim 1s infinite linear;
}

@keyframes first-col-anim {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes second-col-anim {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes third-col-anim {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@media screen and (max-width: 500px) {
  .anim__wrapper {
    right: 0;
    left: 0;
  }
}
