@import './variables.scss';
@import './mixines.scss';

.board {
  position: relative;
  display: flex;
  flex-direction: row;
}

.board__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $tile-bgc;
  padding: 0.625rem 0.625rem;
  background-color: transparent;
  border-bottom: 1px solid gray;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  & h2 {
    cursor: pointer;
    padding: 0 0.3125rem;
  }
  & h2:hover {
    border-radius: 4px;
    @include setBackgroundHoveColor($main-text-color, 0.4);
  }
}

.board__main__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  flex-grow: 1;
}

.settings {
  cursor: pointer;
  border-radius: 0.25rem;
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    @include setBackgroundHoveColor($main-text-color, 0.4);
  }
}

.columns {
  margin-top: 0.9375rem;
  padding: 0 0.625rem;
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
}

.add__column {
  cursor: pointer;
  background-color: transparent;
  background: rgba($color: #fff, $alpha: 0.3);
  border-radius: 0.5rem;
  padding: 0.3125rem 10px;
  color: $secondary-text-color;
  & span {
    font-size: 1.125rem;
  }
  &:hover {
    background: rgba($color: #fff, $alpha: 0.6);
  }
}

.bars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  transform: translateY(0);
  transition:
    transform 0.2s linear,
    opacity 0.2s linear;

  &.active {
    transform: translateY(230%);
    opacity: 0;
  }
}

.bar {
  background-color: $tile-bgc;
  width: 20px;
  height: 2px;
  border-radius: 4px;
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
  }
  50% {
    display: none;
  }
  100% {
    transform: translateY(230%);
  }
}
