@import './mixines.scss';
@import './variables.scss';

.card__copy {
  box-shadow: $box-shadow;
  border-radius: 4px;
  background-color: $tile-bgc;
  position: absolute;
  left: 15%;
  top: 100%;
  width: 75%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.copy__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.copy__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'name name'
    'board board'
    'column position';
  gap: 5px;
  padding: 5px;
}

.name__input {
  display: flex;
  flex-direction: column;
  grid-area: name;
}
