@import './variables.scss';

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $tile-bgc;
  flex-direction: column;
  margin-bottom: 250px;
  & .home__title {
    padding: 40px;
    color: $main-text-color;
    font-size: 1.25rem;
    font-weight: 700;
  }
}

.board__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.25rem;
  row-gap: 1.25rem;
  padding: 5px 0;
}

.add__board {
  width: 12.5rem;
  height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  background-color: gray;
  border-radius: 0.5rem;
  padding: 0.3125rem 10px;
  color: $secondary-text-color;
  & span {
    font-size: 1.125rem;
  }
  &:hover {
    background: rgba($color: rgb(97, 95, 95), $alpha: 0.6);
  }
}

.board__link {
  position: relative;
  z-index: 999;
  transition: transform 0.3s linear;
  &.veiled {
    transform: translateX(-110%);
  }
}

.board__delete {
  position: absolute;
  top: 0;
  right: 0;
  color: $main-text-color;
  font-weight: 700;
  font-size: 1.25rem;
  cursor: pointer;
  padding: 0 0.3125rem;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: background-color 0.3s linear;
  &:hover {
    background-color: $tile-bgc;
    opacity: 0.7;
  }
}

@media screen and (max-width: 500px) {
  .board__grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .home__title h2 {
    font-size: 24px;
  }

  .home {
    margin-bottom: 0;
  }
}
