@import './variables.scss';
@import './mixines.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 5px;
}

.navbar__wrapper {
  gap: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: $main-text-color;
  cursor: pointer;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item {
  padding: 3px;
  border-radius: 4px;
  & a {
    color: $main-text-color;
  }
  margin-right: 0.625rem;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    @include setBackgroundHoveColor(gray, 0.4);
  }

  & button {
    cursor: pointer;
    background-color: transparent;
    color: $main-text-color;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
  }
}

.container.head {
  margin: 0;
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 12px;
  }

  .navbar__wrapper {
    width: 100%;
    gap: 10px;
  }

  .nav__item {
    background-color: $main-text-color;
    padding: 5px;
    & a {
      color: $tile-bgc;
    }
    &:hover {
      background-color: $main-text-color;
    }
  }
}
