@import '../../../../../styles/mixines.scss';
@import '../../../../../styles/variables.scss';

.action__container {
  box-shadow: $box-shadow;
  border-radius: 4px;
  background-color: $tile-bgc;
  position: absolute;
  left: 15%;
  top: 100%;
  width: 75%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.action__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
