@import '../../../../styles/variables.scss';
@import '../../../../styles/mixines.scss';

@media screen and (max-width: 500px) {
  .sidebar.showed {
    visibility: hidden;
    width: 0;
    border: none;
  }

  .sidebar.showed.onboard {
    visibility: initial;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .sidebar.hidden.onboard {
    width: 0;
  }

  .sidebar__boards {
    align-items: center;
    height: 100%;
  }

  .sidebar__boards::-webkit-scrollbar {
    width: 0;
  }
}
